<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ran into an error!</h1>
    <p>Could not process your request because of the following reason</p>
    <p>{{error}}</p>
  </body>
</html>
