<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Weather App!</h1>
    <p><strong>The given location:</strong> {{location}}</p>
    <p><strong>Address:</strong> {{formattedAddress}}</p>
    <p><strong>Current Temperature:</strong> {{temperature}}&deg;F</p>
  </body>
</html>
